
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Timestamp microService</title>
  <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css">  
</head>

<body>
  <div class="container">
    <h1>API Basejump: <a href="https://www.freecodecamp.org/challenges/timestamp-microservice">Timestamp microservice</a></h1>
    <h6> by Garrett </h6>
    <blockquote class="blockquote">
      <h4> User Stories </h4>
      <ol>
        <li> I can pass a string as a parameter, and it will check to see whether that string contains either a unix timestamp or a natural language date (example: January 1, 2016)</li>
        <li>If it does, it returns both the Unix timestamp and the natural language form of that date.</li>
        <li>If it does, it returns both the Unix timestamp and the natural language form of that date.</li>
      </ol>
    </blockquote>

    <h4>Example Usage</h4>
    <pre><code>
    https://efficacious-bush.glitch.me/api/timestamp/December%2028,%202012
    https://efficacious-bush.glitch.me/api/timestamp/1356652800000
    </code></pre>
    <h4>Example Output</h4>
    <pre><code>
    { "unix": 1356652800000, "natural": "Fri, 28 Dec 2012 00:00:00 GMT" }
    </code></pre>
</div>

</body>
  
</html>
